<div class="side-bar-top">
  <div class="user-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-bar-main">
  <div class="chat-rooms">
    <a href="#" class="chat-room">room1</a>
  </div>
  <div class="chat-rooms">
    <a href="#" class="chat-room">room2</a>
  </div>
  <div class="chat-rooms">
    <a href="#" class="chat-room">room3</a>
  </div>
</div>